/* -------------- CSS Reset ------------- */

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  /*border: 1px solid rgb(220,220,220);*/
}


[class*=col-], [class*=col_], [class~=col]{
  padding:0;
}

[class*=grid-], [class*=grid_], [class~=grid]{
  margin:0;
}

/* ----------- Universal Styles ------------*/
/* Eg padding on your sections, ultity classes, ect */

body {
  font-family: 'Quattrocento Sans', sans-serif;
}

footer {
  padding: 5%;
}

section {
  position: relative;
}

/* ----------- Typography ------------*/


h1,h2, h3 {
  text-align: center;
  margin-bottom:0.5em;
  letter-spacing: 1px;
}



a {
    color: inherit;
    text-decoration: none;
    padding: 4px;
}

.light-text{
  color: white

}

h2 span {
  padding: 10px;
  background-color: white;
}

h3 span {
    font-size: 15px;
    background-color: white;
    padding: 10px;
    font-weight: normal;

}

hr[class*=bump-up] {
    width: 65%;
    margin: auto;
    margin-top: -22px;
    margin-bottom: 3rem;
}

hr.bump-up-small {
  margin-bottom: 2rem;
  width:33%;
}

.location-description li,
.inclu-profile li {
  list-style-image: url(/images/chevron.svg);
  padding: 1.5%;
}

/*---------modular---------------*/

.right {text-align: right;}

.center {
  text-align:center;
}

.padded-left{
  padding-left:9%;
}

.padded-0{
  padding: 0;
}

.padded-1 {
  padding: 1%;
}

.padded-2 {
  padding: 2%;
}

.padded-3 {
  padding: 3%;
}

.padded-5 {
  padding: 5%;
}

.padded-bottom-2{
  padding-bottom: 2%;
}

.padded-profile{
  padding: 10vh 15%;
}

.explore-profile-padded {
  padding-left:5%;
  padding-right: 5%;
  padding-bottom: 5%;
  padding-top: 0%;
}

.button{
  background-color:rgba(255, 255, 255, 0.44);
  border:2px solid rgba(255, 255, 255, 0);
  padding:3%;
  color:black;
  letter-spacing: 2px;
}


/* Header  on banner */

header{
  width:100%;
  padding: 1% 5%;
  background-color: white;
}

header a{
  padding: 2% 4%;
  color:rgb(60, 60, 65);
}

.banner header {
  padding:1.5%;
}

.sub-header {
  padding: 1% 5%;
  background-color:rgb(60, 60, 65);
  color: white;
  text-align:center;
  font-size: 0.9rem;
}

.sub-header a {
  padding: 0 1%;
}

.banner {
  background-image: url(images/maldiveswalk.jpg);
  background-position: center;
  background-size:cover;
}

.banner section{
  min-height: 90vh
}

.darkoverlay{
  background-color: rgba(61, 66, 68, 0.35);
}

h1{
  font-size:70px;
  color:white;
}


h2{
  font-weight: normal;
  font-size:22px;
  padding-top:1%
}

.company-name{
  font-size: 25px;
}

.light-text h1 {
  padding-bottom: 3%;
}



  /* Solo header */

  .solo-header {
    position:static;
    width:100%;
    padding:2%;
  }

  .solo-header a {
    color: rgb(60,60,60);
  }


/*   drop down menu */

  .dropdown {
    position: relative;
    text-decoration: none;
    font-size: 1rem;
  }

  .dropdown .not-a-link {
    padding: 2% 4%;
    display:inline-block;
    color:rgb(60, 60, 65);
    /* We use this to style the dropdowns like the rest of the links */
  }

  .dropdown-content, .dropdown-content-mob {
    display: none;
    background-color: white;
    left: 10px;
    min-width: 150px;
    padding: 2%;
    color: rgb(60,60,65);
    /*list-style-image: */
  }

  .dropdown-content {
    position: absolute;
  }

  .dropdown-content ul {
    list-style: none;
  }

  .dropdown-content a {
    display:block;
    padding:5px;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* Burger Menu - for mobile optimisation */


.burger-button {
  position:fixed;
  top: 2vh;
  right: 2vh;
  z-index: 9999999999;
  padding: 8px;
}
/*this is where you can chand the color of the buttons*/
.burger-button span{
  width: 25px;
  border: 2px solid rgb(60,60,65);
  background-color: rgb(60,60,65);
  display: block;
  border-radius: 22px;
  transition: 2s;
}
.burger-button.active span{
  border-color: rgb(60,60,65);
  background-color:rgb(60,60,65);
}

.burger-top, .burger-bottom{
  position: absolute;
}

.burger-top{
  top: 02px;
}

.burger-bottom{
  bottom: 02px;
}
/* make sure this has the same top as the burger button has padding*/
.burger-button.active .burger-top{
  position: absolute;
  top: 8px;
  transform: rotateZ(45deg);
}

.burger-button.active .burger-middle{
  transform: rotateZ(270deg);
  border-color: rgba(0,0,0,0);
  background-color:rgba(0,0,0,0);
}

/* make sure this has the same bottom as the burger button has padding*/

.burger-button.active .burger-bottom{
  position: absolute;
  bottom: 8px;
  transform: rotateZ(-45deg);
}


.burger-menu {
    display: none;
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: white;
    padding:5px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    z-index: 99999999;
}

.burger-menu a {
  text-decoration: none;
  padding: 15px 11px;
  font-size: 20px;
  font-weight: 300;
  color: rgb(60,60,65);
  display:block;
  padding:5px 15px;
  text-align:center;
  white-space:nowrap;
}

.burger-menu li{list-style:none}
/*
.dropdown-nav:hover .dropdown-content {
    display: block;
} */




/* footer */


  .nav-list a{
    display: block;
    padding:10px 0;
  }

  footer h4{
    font-size: 1.15rem;
    padding: 4px 0;
  }

  .footer-social a{
    font-size: 2rem;
    padding-top:8%;
    padding-left:2%;
    padding-right:2%;
    padding-bottom:3%;
    display: inline-block;
  }

  .legal{
    padding:1%;
    display: inline-block;
  }

/* ---------------------- Background Images ------------------------------- */


[class*='bg'] {
  padding: 26% 0;
  background-color: rgb(200,200,205);
  background-size: cover;
  background-position: center;
}

[class*='bg'].tall {
    padding: 50% 0;
}

[class*='bg'].medium {
    padding: 15% 0;
}


.bg-bali{
  background-image: url('images/Bali-Spa-Retreats1.jpg');
}

.bg-aus{
  background-image: url('images/bondiice.jpg');
}

.bg-nz{
  background-image: url('images/roypeaknz.jpg');
}

.bg-japan{
  background-image: url('images/templejapan.jpg');
}

.bg-yoga{
  background-image: url('images/templejapan.jpg');
}

.bg-adventure{
  background-image: url('images/templejapan.jpg');
}

.bg-weightloss{
  background-image: url('images/templejapan.jpg');
}

.bg-rehab{
  background-image: url('images/templejapan.jpg');
}

.bg-search-banner {
  background-image:url('images/clem-onojeghuo-111360.jpg');
  background-position:inherit;
}


.vh-50 {
  min-height: 50vh;
  padding: 5%;
}

/* Home Page */

.destinations-header {
  padding: 3%;
  text-align: center;
  color: rgb(60,60,65);
  font-size: 35px;
  letter-spacing: 2px;
}

.popular-header {
  padding-top: 1%;
  padding-bottom: 4%;
  text-align: center;
  color: rgb(60,60,65);
  font-size: 35px;
  letter-spacing: 2px;
}

.explore-types .grid-spaceAround{
  width:90%;
  margin:auto;
}

.popular-header h2 {
  padding-top: 2%;
}


/*------ search-bar -------*/


.search-bar .fulls-search-bar {
 text-align:center;
 background: #ffffff00;
}

/*full search box*/
.search-page-section {
    width: 100%;
    margin: 2rem auto;
    background: white;
    text-align: center;
}

.full-search-bar {
  width: 100%;
  background: rgb(60,60,65);
  color:white;
  padding:5%;
}


.search-bar [type="submit"] {
  padding: 9px 52px;
  margin: 1%;
  /*background-color: rgb(60,60,65);*/
  color: white;
  border: 2px solid white;
  border-radius:5px;
  display: inline-block;
  text-align: center;
}

.search-bar input {
  padding: 13px;
  width: 35%;
  margin: 1%;
  background-color: rgb(250,250,250);
  color: white;
  border: none;
  border-radius: 3px;
  text-align: left;
}

.search-section{
  width: 68vw;
  color: rgb(60,60,65);
  position: absolute;
  bottom: 70px;
  left: 16vw;
  border-radius: 3px;
  padding: 7px;
  text-align:center;
}





/* ------- Profile Page -------- */

.profile-container p {
    margin-bottom: 1rem;
    text-align: center;
}

.profile-container section:nth-child(even) {
    background-color: rgb(250,250,250);
}

.profile-container section:nth-child(even) h2 span {
    background-color: rgb(250,250,250);
}

p.tall {
  min-height: 9rem;
}
img.retreat-name-logo {
  display: block;
  margin: auto;
  width: 25%;
  padding-bottom: 3%;
  padding-top: 1%;
  }

  .inclusions-list, .location-description{
    column-count: 2;
    list-style-position: inside;
    padding: 2%;
  }

  #map iframe {
    height:450px;
    width:100%;
    margin-bottom:1rem;
  }

  .share-icon, .save-icon {
    color: #fafafa;
    font-size: 20px;
    margin: 5px;
  }

  .share-icon{
    position:absolute;
    top: -12px;
    right: 11px;
  }

  .save-icon{
    position:absolute;
    top:-12px;
    right:43px;
  }

  .photo-button{
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: white;
    border:none;
    color: rgb(60,60,65);
    font-size: 12px;
  }

  .price-summary {
    text-transform:uppercase;

  }

  .book-now-button{
    text-transform: uppercase;
    background-color: rgb(60,60,65);
    color: white;
    border-radius: 5px;
    padding: 2%;
    letter-spacing: 2px;
  }

  .payment-info {
    background-color:#3c3c3cc7;
    color: white;
    font-size:13px
  }

  .payment-info h2 {
    font-size: 18px;
  }

  .profession-profile h4 {
    font-size:23px;
  }

  .profession-profile p, a {
    text-align:left;
    padding-top:2%;
  }

  .profession-profile p, a, h4 {
    padding-left: 4%;
  }

  .profession-profile a{
    font-weight:bold;
  }

  .qauli {
    font-size: 16px;
    font-weight:normal;
    padding-left:3%
  }


/* search page */




/* Media Queries */

.mob-show{
  display: none;
}

@media (max-width:768px) /* gridlex s */{

  #map iframe {
    height:350px;
  }
  .padded-profile{
    padding: 10vh 10%;
  }

}


@media (max-width:576px) /* gridlex xs */{
.mob-hide {
  display: none;
}

.mob-show {
  display:block;
}

p.tall {
    min-height:0;
  }
  #map iframe {
    height:250px;
  }
  .padded-profile{
    padding: 5vh 5%;
  }


}/* end media query */
