

<header class="grid-middle">
  <nav class="col-3 company-name">
    <a href="/index.html"> Retreats </a>
  </nav>

  <nav class="col-6 center mob-hide">
    <a href="/about.html"> About </a>


    <span class="dropdown">
      <span class="not-a-link">Destinations </span>
        <div class="dropdown-content">
          <ul>
            <li> <a href="/destinations/bali.html"> Bali </a></li>
            <li> <a href="/destinations/australia.html"> Australia </a></li>
            <li> <a href="/destinations/new-zealand.html"> New Zealand </a></li>
            <li> <a href="/destinations/japan"> Japan </a></li>
          </ul>
        </div>
    </span>

    <span class="dropdown">
       <span class="not-a-link">Types </span>
        <div class="dropdown-content">
          <ul>
            <li> <a href="/type/yoga.html"> Yoga </a></li>
            <li> <a href="/type/adventure.html"> Adventure </a></li>
            <li> <a href="/type/mindfulness.html"> Mindfulness </a></li>
            <li> <a href="/type /weightloss.html"> Weightloss </a></li>
          </ul>
        </div>
    </span>

    <a href="/offers.html"> Offers </a>
    <a href="/blog.html"> Blog </a>
  </nav>

  <nav class="col-3 right mob-hide">
    <a href="/sign-up.html"> Sign Up </a>
    <a href="/log-in.html"> Log In </a>
  </nav>

  <nav class="mob-show">
        <div class="burger-button">
            <span class="burger-top"></span>
            <span class="burger-middle"></span>
            <span class="burger-bottom"></span>
        </div>
         <div class="burger-menu">
           <a class ="dropdown-nav" href="/about.html"> About </a>

          <ul>
            <li>
              <div class="dropdown-nav">
                <span>Destinations</span>
                <div class="dropdown-content-mob">
                  <ul>
                    <li>
                      <a href=""> Bali </a>
                    </li>
                    <li>
                      <a href=""> New Zealand </a>
                    </li>
                    <li>
                      <a href=""> Australia </a>
                    </li>
                    <li>
                      <a href=""> Japan </a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
              <div class="dropdown-nav">
                <span> Types </span>
                <div class="dropdown-content-mob">
                  <ul>
                    <li>
                      <a href=""> Yoga </a>
                    </li>
                    <li>
                      <a href=""> Adventure </a>
                    </li>
                    <li>
                      <a href=""> Mindfulness</a>
                    </li>
                    <li>
                      <a href=""> Weightloss </a>
                    </li>
                  </ul>
                </div>
              </div>
            </ul>
          <a class ="dropdown-nav" href="/offers.html"> Offers </a>
          <a class ="dropdown-nav" href="/blog.html"> Blog </a>
        </div>
      </nav>

</header>
