

<header class="grid-middle">
  <nav class="col-3 company-name">
    <!-- <div class="company-icon"> # </div> -->
    <a href="/index.html"> Retreats </a>
  </nav>

  <nav class="col-6">
    <a href="/about.html"> About </a>
    <a href="/destinations.html"> Destinations </a>
      <a href="/types.html"> Types </a>
    <a href="/offers.html"> Offers </a>
    <a href="/blog.html"> Blog </a>
  </nav>

  <nav class="col-3">
    <a href="/sign-up.html"> Sign Up </a>
    <a href="/log-in.html"> Log In </a>
  </nav>

</header>
