---
layout: default
title: Retreats - Destinations
---

<!-- <div class="banner bg medium">
  <div class=darkoverlay> -->

<!-- Home Page Banner -->
    <section class="banner grid-middle bg medium" style="background-image:url({{page.banner_image}})">
        <div class="col">
          <h1> {{page.title}} </h1>
        </div>
    </section>


<!-- main content starts here -->

<section class="padded-5 md-paragraph">
  {{content}}

</section>

<section class="dest-results padded-5">
  <div class="grid-center">
    {% assign related = site.retreats | where: "category",page.category %}
    <!-- This is the defining what we want the category to retrieve from the retreats folder -->
      {% for retreat in related %}
    <a class="col-6 padded-1" href="{{retreat.url}}">
      <div class="bg-image" style="background-image:url('{{retreat.background-image}}')"></div>
      <h2>{{retreat.title}}</h2>
      <p> {{retreat.grid-summary}}</p>
    </a>
    {% endfor %}


</section>
